<div class="container__footer">
  <div class="footer__social-content">
    <div class="footer__social-content-logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
      width="80px"
      height="80px"
      alt="">
    </div>
    <div class="footer__social-content-location">
      <ul>
        <li>City1</li>
        <li>City2</li>
        <li>City3</li>
      </ul>
    </div>
    <div class="footer__social-content-social-media">
      <a href="">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
        alt="linkedin-logo"
        width="80px"
        height="80px">
      </a>
      <a href="">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg"
        alt=""
        width="80px"
        height="80px">
      </a>
      <a href="">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg"
        alt=""
        width="80px"
        height="80px">
      </a>
      <a href="">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg"
        alt=""
        width="80px"
        height="80px">
      </a>
    </div>
  </div>
  <div class="footer__about-content">
    <div class="footer__about-content-links">
      <ul>
        <li>
          <a href="">Contact</a>
        </li>
        <li>
          <a href="">Shop</a>
        </li>
        <li>
          <a href="">Carrers</a>
        </li>
        <li>
          <a href="">Privacy Policy</a>
        </li>
        <li>
          <a href="">Term&Conditions</a>
        </li>
      </ul>
    </div>
    <div class="footer__about-content-rights">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg" alt="">
      <p>2024, www.company.com | All rights reserved.</p>
    </div>
  </div>
</div>
