<div class="container__newsletter-card">
  <div class="newsletter-card__image">
    <img src="https://imgs.search.brave.com/CdIobxYhWLKi2CWF0V0nbGJXEsPrhhqrf4NXSil0v5U/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/d2ViZnguY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIzLzA4/LzkwX2hvd190b19p/bWFnZV9wbGFjZWhv/bGRlcnMtMTAyNHg0/NjIucG5n"
    alt="">
  </div>
  <div class="newsletter-card__details">
    <div class="newsletter-card__details-text">
        <h1>Hey, Wait</h1>
        <div class="">
          <h2>Subscribe to our newsletter</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consectetur, officia ducimus odit quisquam beatae incidunt, et suscipit cum veritatis unde velit rem non dignissimos maiores molestias amet nam eos?</p>
      </div>
    </div>
    <div class="newsletter-card__details-subscribe">
      <input type="email" placeholder="Enter your email">
      <button>Subscribe</button>
    </div>
  </div>
</div>
