<div class="container-notice-card">
  <div class="notice-card__photo">
    <img src="https://imgs.search.brave.com/CdIobxYhWLKi2CWF0V0nbGJXEsPrhhqrf4NXSil0v5U/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/d2ViZnguY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIzLzA4/LzkwX2hvd190b19p/bWFnZV9wbGFjZWhv/bGRlcnMtMTAyNHg0/NjIucG5n"
    alt=""
    height="180px"
    width="400px">
  </div>
  <div class="notice-card__details">
    <div class="notice-card__details-tags">
      <span>#Teste</span>
      <span>#Teste2</span>
    </div>
    <div class="notice-card__details-time-read">
      <span>5 mins read</span>
    </div>
  </div>
  <div class="notice-card__title">
    <h1>Testando</h1>
  </div>
  <div class="notice-card__content">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint excepturi laborum ipsam distinctio, suscipit fugiat quaerat laboriosam iste quae illum reiciendis voluptatibus repellat earum. Consectetur reprehenderit vel ad eligendi incidunt?</p>
  </div>
  <div class="notice-card__footer">
    <div class="notice-card__footer-publisher-data">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
      alt=""
      height="40px"
      width="40px">
      <div>
        <h2>José Britto</h2>
        <p>dezembro 27, 2021</p>
      </div>
    </div>
    <div class="notice-card__footer-btn-share">
      <button>
        <img src="../../../assets/share-image.png"
        height="40px"
        width="40px"
        alt="">
      </button>
    </div>
  </div>
</div>
